{% extends "index.html" %} {% block content %}
<div class="metrics-div">
  <h1 class="metrics-h1">Please input your criteria</h1>

  <form action="{{url_for('metrics')}}" method="get" class="form">
    <label class="label" for="country">Country</label>
    <select name="country" id="country-select">
      {%for row in rows%}
      <option class="option" value="{{row[1]}}">{{row[1]}}</option>
      {%endfor%}
    </select>
    <br />
    <label class="label" for="year">Year</label>
    <select name="year" id="year-select">
      <option class="option" value="allyears">All years</option>
      {%for name in names%}
      <option class="option" value="{{name}}">{{name}}</option>
      {%endfor%}
    </select>
    <br />
    <label class="label" for="industry">Industry</label>
    <select name="industry" id="industry-select">
      <option class="option" value="allindustries">All industries</option>
      {%for industry in industries%}
      <option class="option" value="{{industry[1]}}">{{industry[1]}}</option>
      {%endfor%}
    </select>
    <input class="btn btn-submit" type="submit" onclick="submit" />
  </form>
  <div class="output">
    <h4>{{country}}</h4>
    {% if data %}
    <table class="table">
      <tr>
        <th>Indicator</th>
        <th>Industry</th>
        {% if year%}
        <th>{{year}}</th>
        {%else%} {% for i in range(11)%}
        <th>{{2008+i}}</th>
        {%endfor%} {%endif%}
      </tr>
      {%if industry%}
      <tr>
        {% for val in data %}
        <td>{{val}}</td>
        {%endfor%}
      </tr>
      {%else%} {% for val in data %}
      <tr>
        {%for i in range(columns)%}
        <td>{{val[i]}}</td>
        {%endfor%}
      </tr>
      {%endfor%} {%endif%}
    </table>
    {%endif%}
  </div>
</div>
{% endblock %}
